.banner {
    /* width: 2048px; */
    max-width: 90%;
    height: 500px;
    max-height: 90vh;

    background: url("https://images.unsplash.com/photo-1738463791783-b61514add113?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center/cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: rgb(255, 253, 253);
    padding-top: 80px;
    margin: 0 auto;
    /* transition: transform 0.3s ease-in-out; */

}

.travel {
    /* max-height: fit-content; */
    width: 70px;
    margin-top: 50px;
    border-radius: 5px;
    font-size: larger;
    color: rgb(114, 42, 42);
}

.banner-text {
    font-size: 40px;
}

.photo-name {
    font-size: 40px;
}

.line-1 {
    font-size: larger;
}

.line-2 {
    font-size: larger;
}

.btn-planning {
    margin-top: 20px;
    border-radius: 5px;
    width: 270px;
    height: 50px;
    font-size: larger;
    color: rgb(99, 78, 125);
}

/* small screen  */
@media (max-width: 786px) {
    .banner {
        height: 400px;
        padding: 15px;
    }

    .banner-text,
    .photo-name {
        font-size: 32px;
        /* Reduce text size */
    }

    .line-1,
    .line-2 {
        font-size: 18px;
    }

    .btn-planning {
        width: 220px;
        height: 45px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 350px;
        padding: 10px;
    }

    .banner-text,
    .photo-name {
        font-size: 28px;
        /* Smaller text for mobile */
    }

    .line-1,
    .line-2 {
        font-size: 16px;
    }

    .btn-planning {
        width: 200px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 320px) {

    .travel {
        margin-top: 0px;
        color: rgb(119, 91, 146);
    }

    .banner-text,
    .photo-name {
        font-size: 24px;
        /* Further reduction */
    }

    .line-1,
    .line-2 {
        font-size: 14px;
    }

    .btn-planning {
        width: 180px;
        height: 35px;
        font-size: 12px;
    }
}